.view {
    background: url("https://bbvaopen4u.com/sites/default/files/img/new/bbva-open4u-javascript.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(0, 0, 0);
    }
}

.lightbgmask {
    font-weight: 700;
}

.gradient {
    background: linear-gradient(to right, black, white);
    /* Standard syntax */
}